// Container
@use './variables' as*;


@mixin container ($width, $margin) {
    width: 62%;
    min-width: 1000px;
    margin: 0 auto
}

@mixin my_min-width($min-width) {
    min-width: 450px;
}

@mixin font ($font-family) {
    font-family: 'Playfair', serif; // Aggiungi la definizione di serif qui
}

@mixin button-green($background-color, $color, $padding ) {
    background-color: $color-2;
    color: $color-1;
    padding: .7rem 2.5rem;
    border: none;
    border-radius: 5px;

    &:hover {
        background-color: $color-3;
        transition: 1s ease-in-out;

    }
}